<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobphotoedit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true">
        <activity android:name=".LastActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".CubeActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".FilteringActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".UnsharpMaskingActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".RetouchingActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".LineDrawingActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".SegmentationActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".ImageScalingActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".CorrectionActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".ImageRotationActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoActBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActBar" />
        <activity
            android:name=".DesktopActivity"
            android:theme="@style/WithActBar" />
    </application>

</manifest>